<%= stylesheet_link_tag 'admin/base.css' %>
<%= stylesheet_link_tag 'admin/artists.css' %>
<%= render partial: 'admin/artists/manage_artist_drawer' %>
<%= render partial: 'admin/albums/manage_album_drawer' %>

<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.3/dist/bootstrap-table.min.css">
<script src="https://unpkg.com/bootstrap-table@1.21.3/dist/bootstrap-table.min.js"></script>
<div id="admin_base_page">
  <div class="tab-container">
    <button class="tab-button first-tab active" data-tab="artists">
      <span class="material-symbols-outlined">artist</span>Artists
    </button>
    <button class="tab-button" data-tab="albums">
      <span class="material-symbols-outlined">album</span>Albums
    </button>
    <button class="tab-button last-tab" data-tab="songs">
      <span class="material-symbols-outlined">music_note</span>Songs
    </button>
  </div>
  <div id="current_tab_content"></div>
</div>

<%= javascript_include_tag 'admin/base.js' %>
<%= javascript_include_tag 'admin/artists.js' %>
<%= javascript_include_tag 'admin/albums.js' %>